 <%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div style="color: red"> 
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :Name, style: "display: block" %>
    <%= form.text_field :Name %>
  </div>

  <div>
    <%= form.label :Student_number, style: "display: block" %>
    <%= form.number_field :Student_number %>
  </div>

  <div>
    <%= form.label :Phone_number, style: "display: block" %>
    <%= form.number_field :Phone_number %>
  </div>

  <div>
    <%= form.label :Email_address, style: "display: block" %>
    <%= form.text_field :Email_address %>
  </div>

  <div>
    <%= form.label :Physical_address, style: "display: block" %>
    <%= form.text_area :Physical_address %>
  </div>

  <div>
    <%= form.label :section_id %><br>
    <%= form.collection_check_boxes(:section_ids, Section.all, :id, :CRN) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
