<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.Name %>
  </p>

  <p>
    <strong>Student number:</strong>
    <%= student.Student_number %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= student.Phone_number %>
  </p>

  <p>
    <strong>Email address:</strong>
    <%= student.Email_address %>
  </p>

  <p>
    <strong>Physical address:</strong>
    <%= student.Physical_address %>
  </p>

  <p>
    <strong>Sections:</strong>
    <% student.sections.each do |section| %>
      <li><%= section.CRN %></li>
    <% end %>
  </p>
</div>
