<div id="<%= dom_id student %>">
  <p>
    <strong>Name:</strong>
    <%= student.Name %>
  </p>

  <p>
    <strong>Id number:</strong>
    <%= student.ID_Number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.Email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= student.Phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= student.Address %>
  </p>

</div>
