<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<%= form_tag(students_url, method: "get") do %>
    <%= label_tag(:query, "Search for Students by name:") %>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Search") %>
<% end %>

<div id="students">
  <% @students.each do |student| %>
    <%= render student %>
    <p>
      <%= link_to "Show this student", student %>
    </p>
  <% end %>
</div>

<%= link_to "New student", new_student_path %>
