<%= form_with(model: section) do |form| %>
  <% if section.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
        <% section.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= form.label "Course", class: 'control-label' %>
    <div class="controls">
      <%= form.select(:course_type, options_for_select([['CS-3710','CS-3710'], ['MTH-1100', 'MTH-1100'], ['PHI-1010', 'PHI-1010'],['ENG-1100', 'ENG-1100']])) %>
    </div>
  </div>
<br>

  <div>
    <%= form.label :section, style: "display: block" %>
    <%= form.text_field :section %>
  </div>

  <div>
    <%= form.label :semester_id, style: "display: block" %>
    <%= form.text_field :semester_id %>
  </div>




  <div>
    <%= form.label :crn, style: "display: block" %>
    <%= form.text_field :crn %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
