<%= form_with(model: section) do |form| %>
  <% if section.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
        <% section.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :section, style: "display: block" %>
    <%= form.text_field :section %>
  </div>

  <div>
    <%= form.label :semester_id, style: "display: block" %>
    <%= form.text_field :semester_id %>
  </div>

  <div>
    <%= form.label :course, style: "display: block" %>
    <%= form.text_field :course %>
  </div>

  <div>
    <%= form.label :references, style: "display: block" %>
    <%= form.text_field :references %>
  </div>

  <div>
    <%= form.label :crn, style: "display: block" %>
    <%= form.text_field :crn %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
