<p style="color: green"><%= notice %></p>

<h1>Sections</h1>

<%= form_tag(sections_url, method: "get") do %>
    <%= label_tag(:query, "Search for sections by its associated CRN number:") %>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Search") %>
<% end %>

<div id="sections">
  <% @sections.each do |section| %>
    <%= render section %>
    <p>
      <%= link_to "Show this section", section %>
    </p>
  <% end %>
</div>

<%= link_to "New section", new_section_path %>
