<p style="color: green"><%= notice %></p>

<h1>Prefixes</h1>

<%= form_tag(prefixes_url, method: "get") do %>
    <%= label_tag(:query, "Search for Prefix:") %>
    <%= text_field_tag(:query) %>
    <%= submit_tag("Search") %>
<% end %>

<div id="prefixes">
  <% @prefixes.each do |prefix| %>
    <%= render prefix %>
    <p>
      <%= link_to "Show this prefix", prefix %>
    </p>
  <% end %>
</div>

<%= link_to "New prefix", new_prefix_path %>
