<p style="color: green"><%= notice %></p>

<%= render @course %>

<p>
  <strong>Sections:</strong>
  <% @course.sections.each do |section| %>
   <%= section.CRN %>
  <% end %>
</p>
	

<div>
  <%= link_to "Edit this course", edit_course_path(@course) %> |
  <%= link_to "Back to courses", courses_path %>

  <%= button_to "Destroy this course", @course, method: :delete %>
</div>
